// surge-main.scss

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

// modules
@import "modules/surge-module";
@import "modules/surge-results";
@import "modules/hero";

// colors & styles
@import "partials/palette";
@import "partials/typography";
