//surge-results.scss

@import '../partials/palette';
@import '../partials/typography';
@import '../partials/app';

$table-border:1px solid $dolphin;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.surge-results {
  position:relative;
  padding:20px;
  margin:20px;
  @extend .wrapbox-style;
  a {
    cursor: pointer;
  }
  .cf:before, .cf:after {
    content: " ";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  .cf {
  *zoom: 1;
  .twrap.tbody  {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .twrap {
    padding:0 10px;
    border:none;
  }
  .twrap.theader, .twrap.tpager {
    border-color:transparent;
  }
  .domtable {
    width:100%;
    .wid-1 {
      width:50%;
    }
    .wid-2, .wid-3 {
      width:25%;
      text-align:center;
    }
  }
  .results-table {
    font-weight:600;
    .wid-1 {
      color:$sky;
      text-transform: capitalize;
    }
    .wid-2, .wid-3 {
      color:$deepsea;
    }
  }
  .header-table {
    color:$shark;
    font-weight:100;
    margin-bottom:20px;
  }
  .bottom {
    text-align: center;
    color:$dolphin;
    @extend .row-type;
  }
  .domtable th, .domdetail th {
    @extend .row-type;
    text-align:left;
  }
  table.domtable {
    border-spacing: 0;
  }
  .domtable td {
    border-top:$table-border;
    padding:25px 0;
    vertical-align: top;
    padding-right:5px;
    @extend .row-type;
    @media (max-width:767px) {
      padding: $box-row-padding/1.5;
    }
  }
  } //end .cf
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor:wait;
    .loadimg {
      position: relative;
      width:100%;
      height:100%;
      .iload {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left:-40px;
        margin-top:-40px;
        z-index:1001;
        background: url(https://surge.bombora.com/img/loader.gif);
        width:80px;
        height:80px;
      }
    }
   .mask {
     z-index: 10000;
     position: absolute;
     top:0;
     left:0;
     -moz-opacity: 0.7;
     opacity: .70;
     filter: alpha(opacity=70);
     background-color: $white;
     width: 100%;
     height: 100%;
     zoom: 1;
   }
  }
  .fullloader {
    position:fixed;
    z-index:20000;
  }
}

.jqmWindow {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -260px;
  width: 520px;-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.jqmOverlay {
  background-color: $white;
  opacity:.75 !important;
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
.msgbox {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#errMsgOverlay {
  z-index: 30001;
  width: 510px;
  margin-left: -220px;
  top:25%;
}
.msgbox {
  z-index: 20001;
  border: 1px solid $dolphin;
  background:$white;
  color:$blacksand;
  font-size:13px;
  .inner {
    padding: 19px 19px 10px;
  }
}

.olwrap {
  min-height:100px;
}
.overscroll {
  max-height:400px;
  overflow:auto;
}
.olclose {
  right: -14px;
  top: -14px;
  margin: 0;
}
.graybox {
  background:$dolphin; border:1px solid $shark;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,1);
}
.pa {
  position: absolute;
}
.helpcircle, .helpcircle .fa {
   line-height: 30px;
}
.helpcircle {
  width:30px;
  height:30px;
  text-align:center;
  border:1px solid $dolphin;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display:inline-block;
  color:#cbcbcb;
  font-size:14px;
  font-weight:700;}
.helpcircle.orange {
  color:$bora-orange;
  border-color:$bora-orange;
}
.helptip {
  font-size:7px;
}
.orangecircle {
  border:1px solid $bora-orange;
  background-color:$bora-orange;
  color:$white;
}
.bluecircle {
  border:1px solid $ocean;
  background-color:$ocean;
  color:$white;
  &:hover {
    border:1px solid lighten($ocean,5%);
    background-color:lighten($ocean,5%);
    color:$white;
  }
}
