<div ng-app="topicselect" ng-controller="TopicController as topicSelect" class="surge ng-cloak" ng-show="!topicSelect.loadError">
	<div class="title">
		<div class="h1">Find surging companies now</div>
		<div class="h2">Select up to 5 topics free</div>
	</div>

	<div class="cf">
		<div class="leftbox">
			<div class="cf selectbox">
      	<div class="wrapbox">
      		<div class="wrapbox-fields fnbbdr hasicon">
            <input type="text" ng-model="search" placeholder="Search Topics" class="fullinpt">
            <i class="fa fa-search"></i>
          </div>
          <ul class="cust-ms left">
          	<li ng-repeat="i in topicSelect.topics | orderBy:'Name' " ng-click="topicSelect.selectTopic(i)" ng-class="{'selected':i.selected}" ng-show="([i] | filter:{Name:search}).length > 0 && !i.selected">{{i.Name}}</li>
          </ul>
      	</div>
      	<div class="wrapbox">
      		<ul class="cust-ms right">
          	<li ng-repeat="j in topicSelect.selectedTopics" ng-click="topicSelect.removeTopic($index, j)">{{j.Name}}</li>
          </ul>
          <a ng-click="topicSelect.runReport()" class="bigblue">Run Surge Report</a>
      	</div>
      </div>


      <div class="loader overlayloader"ng-show="topicSelect.showLoader">
			  <div class="mask"></div>
			  <div class="loadimg">
			    <span class="iload"></span>
			  </div>
			</div>
		</div>
		<div class="rightbox">
			<div>
				description area
			</div>
		</div>
	</div>


</div>

<script>
	angular.module('topicselect', [])
  .controller('TopicController', ['$http','$window', function($http, $window) {
		var
			max = 5,
			resultsUrl = 'results.php?topics=',
			//getTopicsUrl = '/gettopics.asp?callback=JSON_CALLBACK',
			getTopicsUrl = 'https://sentry.bombora.com:443/v2/Surge/GetAllTopics?callback=JSON_CALLBACK', //production url
			//getTopicsUrl = 'http://w12a-dev.bommie.co:999/v2/Surge/GetAllTopics?callback=JSON_CALLBACK', //dev url
			topicSelect = this;

	  topicSelect.loadError = false;
	  topicSelect.selectedTopics = [];
	  topicSelect.showLoader = false;

	  function loadTopics() {
	  	$http.jsonp(getTopicsUrl).
	    success(function(data, status, headers, config) {
	    	if (data.Topics) {
	    		topicSelect.topics = data.Topics;
	    	}
	    }).
	    error(function(data, status, headers, config) {
	    	topicSelect.loadError = true;
	    });
	  }

	  //cap 5
	  topicSelect.selectTopic = function(item) {
	  	if (topicSelect.selectedTopics.length < max && !item.selected) {
	  		topicSelect.selectedTopics.push(item);
	  		item.selected = !item.selected;
	  	}
	  };


	  topicSelect.removeTopic = function($index, item) {
			var sIndex = ML.utils.getObjArrayIndex(topicSelect.topics, 'Id', item.Id); //get user index

			topicSelect.topics[sIndex].selected = false;

      topicSelect.selectedTopics.splice($index, 1); //remove user from array
	  };


	  topicSelect.runReport = function(){
	  	if (topicSelect.selectedTopics.length == 0) {
	  		alert("Please select at least one topic.")
	  		return false;
	  	}

	  	topicSelect.showLoader = true;
	  	var tNames= [], ids = [];
	  	angular.forEach(topicSelect.selectedTopics, function(value,key) {
	  		ids.push(value.Id);
	  		tNames.push(value.Name);
	  	});

	  	$window.location=resultsUrl+encodeURIComponent(ids.join(',')) + '&names=' + encodeURIComponent(tNames.join(','));
	  };

	  loadTopics();
	}]);
</script>
