<section class="surge-footer">
  <div class="col-1">
    <div class="col-container">
      <h1>What is intent data?</h1>
      <a class="et_pb_promo_button et_pb_button" href="#">Learn More</a>
    </div>
  </div>
  <div class="col-2">
    <div class="col-container">
      <h1>Activating Intent Data</h1>
      <a class="et_pb_promo_button et_pb_button" href="#">Learn More</a>
    </div>
  </div>
  <div class="col-3">
    <div class="col-container">
      <h1>Intent Data Insights</h1>
      <a class="et_pb_promo_button et_pb_button" href="#">Learn More</a>
    </div>
  </div>
</section>
</body>
</html>
